---
title: Rotating IPsec Certificates
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes the process Pivotal recommends to increase deployment security by rotating certificates in the IPsec manifest.

## <a id='why'></a>Why You Need to Rotate Credentials

These are common reasons for rotating credentials:

+ Your organizational security policy may specify how often you should apply these changes. 

+ Your certificates are going to expire. To find the expiration dates on your certificates, see [Check Certificate Dates](#check-dates) below.

## <a id='procedures'></a> About the Procedures

There are two procedures for certificate rotation described in this topic:

* The first procedure describes rotating the instance certificate and instance private key specified in your IPsec manifest, and requires updating BOSH. This procedure does not include rotating the certificate authority (CA) certificate. 

* The second procedure describes rotating your CA certificate in addition to your instance certificate and instance private key. This procedure requires updating BOSH three times.

<p class="note"><strong>Note</strong>: The rolling deploys during these procedures result in minimal deployment downtime.</p>

## <a id="rotate-cert"></a>Procedure 1: Rotate the Instance Certificate and Instance Private Key

Follow the steps below to rotate the instance certificate and instance private key.

1. Generate a new certificate and use your existing IPsec CA certificate to sign the new certificate. 

2. Update the instance certificate and the private key fields in your `ipsec-addon.yml` file 
 with new values from the previous step.

3. Run the following command:
  <pre class="terminal">
  $ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml
  </pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

4. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**. 

## <a id="rotate-CA"></a>Procedure 2: Rotate the CA Certificate, the Instance Certificate, and Instance Private Key

Follow these steps below to rotate the CA certificate, the instance certificate, and instance private key.

1. Generate a new CA certificate.

2. Append the newly generated CA certificate under the existing certificate as a new yaml list element in your `ipsec-addon.yml`.
  For example:
  <pre>
  <strong>ca_certificates</strong>:
      \- |
         -----BEGIN CERTIFICATE-----
         ...
         -----END CERTIFICATE-----
      \- |
         -----BEGIN CERTIFICATE-----
         ...
         -----END CERTIFICATE-----
         .
         .
         .
  </pre>

3. Run the following command:
  <pre class="terminal">$ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml</pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

4. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**.

5. Generate a new certificate and use your new IPsec CA certificate to sign the new certificate.

6. Update the instance certificate and the private key fields in the YAML file with new values from above.

7. Run the following command:
  <pre class="terminal">$ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml</pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

8. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**.

9. Delete the older CA certificate in the `ipsec-addon.yml` file.

10. Run the following command:
  <pre class="terminal">$ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml</pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

11. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**.

## <a id="check-dates"></a> Check Certificate Dates

The following procedure describes how to download the runtime configuration file,
extract the two IPsec certificates into files. Then, the files input to the openssl tool.
The openssl tool decodes the certificates and displays the expiration dates. 

1. Log into BOSH Director.

2. Download your runtime configuration YAML file.

    <code>bosh2 runtime-config > PATH-TO-FILE/YOUR-RUNTIME-CONFIG.yml</code>

    For example, 
    <pre class='terminal'>bosh2 runtime-config > /tmp/my-runtime-config.yml</pre>

3. Display the runtime configuration YAML file so that you can copy from it.

    For example,
    <pre class='terminal'> $ cat  /tmp/my-runtime-config.yml </pre>

4. Identify the section of the file that contains ipsec properties, and locate the certificates:
   
    ```
    addons:
    - include:
        stemcell:
        - os: ubuntu-trusty
      jobs:
      - name: ipsec
        release: ipsec
      name: ipsec
      properties:
        ipsec:
          ca_certificates:
          - |
            -----BEGIN CERTIFICATE-----
            MIIE/TCCAuWgAwIBAgIBATANBgkqhkiG9w0BAQsFADAOMQwwCgYDVQQDEwNjYTEw
             HhcNMTYwNTI2MjI1MDMzWhcNMjYwNTI2MjI1MDQyWjAOMQwwCgYDVQQDEwNjYTEw
             ...     
             Axu2pbEoT1PrMd3HlAZ3AH8ZrMR3ScJKCW3wQFRX/Plj
            -----END CERTIFICATE-----
          instance_certificate: |
            -----BEGIN CERTIFICATE-----
            MIIEGTCCAgGgAwIBAgIQDlqK1V54BEknnblVPXu5lzANBgkqhkiG9w0BAQsFADAO
            MQwwCgYDVQQDEwNjYTEwHhcNMTYwNTI2MjI1MTAzWhcNMTgwNTI2MjI1MTAzWjAQ
            MQ4wDAYDVQQDEwVjZXJ0MTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
            ... 
            4Q6P/cDn9QvW2QbbWkApP2uuMk04jWJV7p79CfX4pipPqiSofjFyFqsjjvir
            -----END CERTIFICATE-----
    ```

5. Copy the ca_certificate into a text file
   and delete the leading white space before the `-----BEGIN CERTIFICATE-----` and `-----END CERTIFICATE-----` lines.

    For example,
    <pre class='terminal'>
-----BEGIN CERTIFICATE-----
        MIIE/TCCAuWgAwIBAgIBATANBgkqhkiG9w0BAQsFADAOMQwwCgYDVQQDEwNjYTEw
        HhcNMTYwNTI2MjI1MDMzWhcNMjYwNTI2MjI1MDQyWjAOMQwwCgYDVQQDEwNjYTEw
     ...
        Axu2pbEoT1PrMd3HlAZ3AH8ZrMR3ScJKCW3wQFRX/Plj
-----END CERTIFICATE-----
     </pre>

6. Save the file with the PEM extension, for example, `my-ipsec-ca-cert.pem`.

7. Run the following command:

    <code>openssl x509 -text -inform pem -in /PATH/FILENAME.pem | grep "Not After"</code>

    Where `/PATH/FILENAME.pem` is the path to and filename of the file you saved in the step above.

    For example, 

    <pre class='terminal'>
    $ openssl x509 -text -inform pem -in /tmp/my-ipsec-ca-certificate.pem | grep "Not After"
             Not After : May 26 22:50:42 2026 GMT
    </pre>

    If the PEM file is not correctly formatted, the message `unable to load certificate` appears.

7. Repeat steps 5–7 for the instance_certificate.

8. If either of the `Not After` dates is imminent, replace the certificates.
   For information about rotating certificates, see [About the Procedures](#procedures) above.

   In a production environment, you should allocate at least x weeks to replace certificates.

