---
title: Rotating IPsec Credentials
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes the process Pivotal recommends to increase deployment security by rotating credentials in the IPsec manifest. Your organizational security policy may specify how often you should apply these changes. 

There are two procedures for credential rotation described in this topic.

* The first procedure describes rotating the instance certificate and instance private key (for linux) or instance pfx (for windows) specified in your IPsec manifest, and requires updating BOSH. This procedure does not include rotating the certificate authority (CA) certificate. 

* The second procedure describes rotating your CA certificate in addition to your instance certificate and instance private key. This procedure requires updating BOSH three times.

<p class="note"><strong>Note</strong>: The rolling deploys during these procedures result in minimal deployment downtime.</p>

## <a id="rotate-cert"></a>Procedure 1: Rotate the Instance Certificate and Instance Private Key or the Instance PFX

Follow the steps below to rotate the instance certificate and instance private key (for linux) or instance pfx (for windows).

1. Generate a new certificate and use your existing IPsec CA certificate to sign the new certificate.

2. <p>
      <strong>For Linux</strong>: Update the instance certificate and the private key fields in your `ipsec-addon.yml` file with new values from the previous step.
   </p>
   <p>
     <strong>For Windows</strong>: Update the instance pfx (base64 encoded) in your `ipsec-addon.yml` file.
   </p>
3. Run the following command:
  <pre class="terminal">
  $ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml
  </pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

4. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**. 

## <a id="rotate-CA"></a>Procedure 2: Rotate the CA Certificate, the Instance Certificate, Instance Private Key, and Instance PFX

Follow these steps below to rotate the CA certificate, the instance certificate, instance private key, and instance pfx.

1. Generate a new CA certificate.

2. Append the newly generated CA certificate under the existing certificate in your `ipsec-addon.yml`.

3. Run the following command:
  <pre class="terminal">$ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml</pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

4. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**.

5. Generate a new certificate and use your new CA certificate to sign the new certificate.

6. <p> <strong>For Linux</strong>: Update the instance certificate and the private key fields in the YAML file with new values from above. </p>
   <p> <strong>For Windows</strong>: Update the <code>instance_pfx</code> value with the base64 encoded contents of the generated PFX file. </p>


7. Run the following command:
  <pre class="terminal">$ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml</pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

8. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**.

9. Delete the older CA certificate in the `ipsec-addon.yml` file.

10. Run the following command:
  <pre class="terminal">$ bosh update runtime-config PATH/MYPRODUCT_ipsec-addon.yml</pre>
<p class="note"><strong>Note</strong>: The following step results in a few minutes of application downtime. </p>

11. Navigate to your Ops Manager interface in a browser, and click **Apply Changes**.

