---
title: IPsec Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This guide describes the IPsec Add-on for PCF, which secures data transmissions inside [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF). Topics covered in this guide include IPsec Add-on for PCF installation and configuration, troubleshooting, and certificate rotation.

Your organization may require IPsec if you transmit sensitive data.

## <a id="overview"></a> Overview

The IPsec Add-on for PCF provides security to the network layer of the OSI model with a 
[strongSwan](https://www.strongswan.org/) implementation of IPsec.
The IPsec Add-on provides a strongSwan job in FIPS mode to each BOSH-deployed VM.

IPsec encrypts IP data flow between hosts, between security gateways, between service tiles, and between security gateways and hosts.
The IPsec Add-on for PCF secures network traffic within a Cloud Foundry deployment
and provides internal system protection if a malicious actor breaches your firewall.

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about the IPsec Add-on for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.9.13</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 19, 2018</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>v2.1, v2.2, v2.3, and v2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>v2.1, v2.2, v2.3, and v2.4</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and Openstack</td>
    </tr>
</table>


## <a id="implementation"></a> IPsec Implementation Details
The IPsec Add-on for PCF implements the following cryptographic suite:
<table border='1' class='nice'>
<tr>
	<th>Key Agreement (Diffie-Hellman)</th>
	<td>IKEv2 Main Mode</td>
</tr>
<tr>
	<th>Bulk Encryption</th>
	<td>AES128GCM16</td>
</tr>
<tr>
	<th>Hashing</th>
	<td><code>SHA2 256</code></td>
</tr>
<tr>
	<th>Integrity/Authentication Tag</th>
	<td>128 bit GHASH ICV</td>
</tr>
<tr>
	<th>Digital Signing</th>
	<td>RSA 3072/4096</td>
</tr>
<tr>
	<th>Peer Authentication Method</th>
	<td>Public/Private Key</td>
</tr>
</table>

## <a id='limitations'></a> Limitation

IPsec Add-on for PCF has the following limitations:

* Due to a [known issue](https://github.com/Microsoft/hcsshim/issues/244) in Windows Server OS,
  apps hosted on PAS for Windows cannot route traffic when deployed with the IPsec add-on for PCF.

* Pivotal recommends configuring IPsec to use a self-signed certificate to sign instance certs.
  Using a certificate signed by a public or third-party CA is not recommended. 
