---
title: Installing Pivotal Cloud Foundry&reg; IPSec Add-On
owner: Security Engineering
---
## <a id='flags'></a>Feature Flags ##


Installing the IPsec Add-on
This topic describes how to prepare your network for IPsec, create an IPsec manifest, and add IPsec to your deployment. 
Prerequisites
Make sure that you have the following: 
AWS or vSphere as your IaaS 
PCF operator admin rights
BOSH deployed through Ops Manager 1.7 or higher

Important!  You must install the IPsec add-on before installing any other tiles to enable the IPsec functionality. Pivotal recommends installing IPsec immediately after Ops Manager, and before installing the Elastic Runtime tile, to enable IPsec for all subsequent installations. 



