---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for the IPsec Add-on for PCF.

##<a id="194"></a>  v1.9.4

**Release Date:** June 28, 2018

### Features

New features and changes in this release:

* Starting with BOSH Director v265.1.0, the BOSH job lifecycle includes a `post-stop` phase. 
  The `charon` IPsec daemon job is now stopped in the BOSH `post-stop` lifecycle 
  phase instead of the BOSH `stop` lifecycle phase. 
  The `stop` phase is now a no-op.
  This ensures that the network remains available and secure while all other 
  BOSH jobs perform their stop processing.

* Updates smoke tests to check connectivity using TCP protocol requests on port 22, 
rather than issuing an ICMP ping request to the remote host.  
  This ensures that the smoke test produces an accurate result, even when ICMP is not enabled. 

* Updates smoke tests to skip the connectivity check on localhost, as strongSwan 
does not create a transform when the source and destination addresses are equal.

### Known Issues

Known issues in this release:

* Due to a known issue with container networking, the IPsec Add-on is not supported 
on Pivotal Application Service for Windows using Windows Server stemcell v1709.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the dropdown at the top of this page.
