---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for the IPsec Add-on for PCF.

##<a id="1913"></a>  v1.9.13

**Release Date:** November 19, 2018

### Features

New features and changes in this release:

* Updates strongSwan to v5.7.1.
  See the [strongSwan v5.7.1 release notes](https://www.strongswan.org/blog/2018/10/01/strongswan-5.7.1-released.html).

### Fixed Issues

This release fixes the following issues:

* The IPsec Windows job failed if the instance certificate and CA certificate had
the same common name or serial number.
Now, IPsec does not deploy if there are duplicate common names or serial
numbers in the certificate chain.
For more information, see this troubleshooting [Symptom](./troubleshooting.html#duplicates).

### Known Issues

There are no known issues for this release.

##<a id="199"></a>  v1.9.9

**Release Date:** August 23, 2018

### Features

New features and changes in this release:

* Updates strongSwan to v5.6.3.
  See the [strongSwan v5.6.3 release notes](https://www.strongswan.org/blog/2018/05/28/strongswan-5.6.3-released.html).

### Fixed Issues

This release fixes the following issues:

* On Windows2012R2 where scheduled logging could not be created for the
  enablement of the following alerts: cert expiration and optional IPsec enforcement.

* Subsequent deployments of IPsec did not start due to existing stale process ID's.

##<a id="194"></a>  v1.9.4

**Release Date:** June 28, 2018

### Features

New features and changes in this release:

* Starting with BOSH Director v265.1.0, the BOSH job lifecycle includes a `post-stop` phase.
  The `charon` IPsec daemon job is now stopped in the BOSH `post-stop` lifecycle
  phase instead of the BOSH `stop` lifecycle phase.
  The `stop` phase is now a no-op.
  This ensures that the network remains available and secure while all other
  BOSH jobs perform their stop processing.

* Updates smoke tests to check connectivity using TCP protocol requests on port 22,
rather than issuing an ICMP ping request to the remote host.
  This ensures that the smoke test produces an accurate result, even when ICMP is not enabled.

* Updates smoke tests to skip the connectivity check on localhost, because strongSwan
does not create a transform when the source and destination addresses are equal.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
