---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for the IPsec Add-on for PCF.


##<a id="191"></a>  v1.9.1

**Release Date:** May 21, 2018

**Features included in this release:**

* Starting with BOSH director v265.1.0, the BOSH job lifecycle now includes a new `post-stop` phase. 
  This release of the IPsec Add-on takes advantage of this new BOSH feature, and 
  the charon IPsec daemon job is now stopped in the BOSH `post-stop` lifecycle phase. 
  Previously, the charon daemon was stopped in the BOSH `stop` lifecycle phase. The `stop` phase is now a no-op. <br><br>This change ensures that the network remains available and secure while all other BOSH jobs perform their stop processing.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from 
the dropdown at the top of this page.
