---
title: Uninstalling the IPsec Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to uninstall the IPsec Add-on for PCF from your deployment and how to verify the uninstallation.


##<a id="uninstall"></a>Uninstall IPsec Add-on
To uninstall the IPsec Add-on, follow the steps below:


###<a id="uninstall-flag"></a>(Optional) Set Optional Flag to True
When uninstalling IPsec, the `optional` flag must be set to `true` in the runtime config of the current deployment before the properties can be removed.
If your flag is already set this way, you can continue with the uninstallation with the procedure [Remove IPsec Properties](#uninstall-properties) below.

To set the `optional` flag to `true`, do the following:

1. Retrieve the latest runtime config by running the following command:
  <pre>
    bosh -e my-env runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location that you want to save the runtime configuration.

    For example:
    <pre class="terminal">
      $ bosh -e my-env runtime-config > /runtime/config/
    </pre>

1. Set the `optional` flag to `true` under IPsec properties.

1. Update the runtime config by running the following command:
    <pre>
    bosh -e my-env update-runtime-config --name=ipsec PATH-TO-SAVE-THE-RUNTIME-CONFIG
    </pre>

    Where `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location of the runtime configuration you are updating.

    For example:
    <pre class="terminal">
      $ bosh -e my-env update-runtime-config --name=ipsec /runtime/config/
    </pre>

1. Navigate to your **Installation Dashboard** in Ops Manager.

1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**. 
   For more information about this Ops Manager page, 
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. Click **Apply Changes**.

1. Wait for the installation to complete.


###<a id="uninstall-properties"></a>Remove IPsec Properties

After your `optional` flag is set to `true` in your runtime config,
then you can proceed with the removal of the IPsec properties.

To do this, follow the steps below:

1. Retrieve the latest runtime config by running the following command:
  <pre>
    bosh -e my-env runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location that you want to save the runtime configuration.

    For example:
    <pre class="terminal">
      $ bosh -e my-env runtime-config > /runtime/config/
    </pre>

1. In the runtime config, remove all IPsec properties under the `releases:` and `addons:` sections.

1. Update the runtime config by running the following command:
    <pre>
    bosh -e my-env update-runtime-config --name=ipsec PATH-TO-SAVE-THE-RUNTIME-CONFIG
    </pre>

    Where `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location of the runtime configuration you are updating.

    For example:
    <pre class="terminal">
      $ bosh -e my-env update-runtime-config --name=ipsec /runtime/config/
    </pre>

1. Navigate to your **Installation Dashboard** in Ops Manager.

1. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**. 
   For more information about this Ops Manager page, 
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

1. Click **Apply Changes**.


## <a id='uninstall-verify'></a>Verify the Uninstallation
To verify the uninstallation of the IPsec Add-on is successful, follow the steps below:

1. Use `bosh ssh` to SSH into one of the VMs in your deployment.
For more information,
see [BOSH SSH](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#bosh-ssh)

1. Run `monit summary`. If IPsec has uninstalled successfully,
it does not show the `ipsec` process.
