---
title: Uninstalling the IPsec Add-on for PCF
owner: Security Engineering
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<strong><%= modified_date %></strong>

This topic describes how to uninstall IPsec from your deployment.


##<a id="uninstall"></a>Uninstall the IPsec Add-On

1. Retrieve the latest runtime config by running one of the following commands:
  * **For Ops Manager v1.10 or earlier:** 
    `bosh runtime-config > PATH_TO_SAVE_THE_RUNTIME_CONFIG`<br><br>
  * **For Ops Manager v1.11 or later:**
    `bosh2 -e BOSH_ENVIRONMENT runtime-config > PATH_TO_SAVE_THE_RUNTIME_CONFIG`

2. Set the `optional` flag to `true` under IPsec properties.

3. Update the runtime config by running one of the following commands:
  * **For Ops Manager v1.10 or earlier:** 
    `bosh update runtime-config PATH/YOUR-RUNTIME-CONFIG.yml`<br><br>
  * **For Ops Manager v1.11 or later:**
    `bosh2 -e BOSH_ENVIRONMENT update-runtime-config PATH_TO_SAVE_THE_RUNTIME_CONFIG`

4. Navigate to your **Installation Dashboard** in Ops Manager.
5. Click **Apply Changes**.
6. Wait for the installation to complete.
7. Remove IPsec from the runtime config.
8. Update the runtime config by running one of the following commands:
  * **For Ops Manager v1.10 or earlier:** 
    `bosh update runtime-config PATH/YOUR-RUNTIME-CONFIG.yml`<br><br>
  * **For Ops Manager v1.11 or later:**
    `bosh2 -e BOSH_ENVIRONMENT update-runtime-config PATH_TO_SAVE_THE_RUNTIME_CONFIG`
  
9. Navigate to your **Installation Dashboard** in Ops Manager. 
10. Click **Apply Changes**.
