---
title: Updating IPsec Add-on for PCF to Run with Xenial Stemcells
owner: Security Engineering
---

<strong><%= modified_date %></strong>

Pivotal Cloud Foundry (PCF) products and tiles that are released after July 2018 require
Ubuntu Xenial stemcells instead of Ubuntu Trusty stemcells. 
You need to verify that your IPsec Add-on for PCF deployment is configured correctly to support PCF products running on Xenial.

This topic describes how to determine if your existing deployment of IPsec Add-on can be deployed to VMs that run on Xenial.
This topic also explains how to update your IPsec Add-on if it does not support Xenial.

Follow the instructions on this page if you use IPsec Add-on with any PCF products or tiles 
that use Xenial stemcells.
See [Product Tiles that Use Xenial Stemcells](#which) below.

##<a id="who-me"></a<a id="who-me"></a> Do I Need to Modify the IPsec Add-on? 

IPsec Add-on v1.9.9 runs correctly on Xenial-based VMs if the IPsec runtime config
includes the `ubuntu-xenial` property. 

Review the following table and make any required changes before you upgrade to Xenial stemcells.

<table class="nice">
    <col width="25%">
    <col width="75%">
    <th>If you are using this version of the IPsec Add-on…</td>
    <th>do the following…</td>
    <tr>
      <td>1.9.9</td>
      <td>Verify that your runtime config file, <code>ipsec-addon.yml</code>, includes 
<pre>
stemcell:
- os: ubuntu-trusty
- os: ubuntu-xenial
</pre>
        If it does not, then follow the procedure, <a href="#add">Add the Xenial Stemcell Property to IPsec Add-on</a> below.</td>
          </tr>
          <tr>
            <td>v1.9.4 and earlier</td>
            <td>Install IPsec Add-on v1.9.9.</td>
          </tr>
</table>

If you use IPsec Add-on without adding the `ubuntu-xenial` property to the runtime config, 
the VMs running on Xenial are not able to communicate with the rest of the system.

## <a id="which"></a> Product Tiles that Use Xenial Stemcells

Ensure that you have added the `ubuntu-xenial` property to the IPsec Add-on runtime config
before you install any product tiles that use Xenial stemcells.

For a list of PCF tile releases that now use Xenial, 
see [Tiles Using Xenial Stemcells in PCF](https://docs.pivotal.io/pivotalcf/stemcells/xenial-tiles.html).


##<a id="add"></a> Add the Xenial Stemcell Property to the IPsec Add-on

If you use IPsec Add-on v1.9.9 without the `ubuntu-xenial` 
property in the runtime config, then you must add it to your
existing `ipsec-addon.yml` and redeploy.  Follow these steps:

1. SSH into the Ops Manager VM.
   For how to do this, see [SSH into Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

2. To retrieve and save the IPsec add-on runtime config, run the following command:

    ```
    bosh -e BOSH-ENVIRONMENT runtime-config –name ipsec > /tmp/ipsec-addon.yml
    ```

    Where `BOSH-ENVIRONMENT` is the alias you set for the BOSH Director.

    For example:

    <pre class="terminal">$ bosh -e my-env runtime-config –name ipsec-addon > /tmp/ipsec-addon.yml </pre> 


3. Edit the `ipsec-addon.yml` file to add `- os: ubuntu-xenial` under 
    `properties: {}` as shown below:


    ```
    addons:
    - name: ipsec-addon
      jobs:
      - name: ipsec
        release: ipsec
        properties: {}
      include:
        stemcell:
        - os: ubuntu-trusty
        - os: ubuntu-xenial
    ```

4. To update the runtime config, run the following command:

    ```
    bosh -e BOSH-ENVIRONMENT update-runtime-config --name=ipsec /tmp/ipsec-addon.yml
    ```

    For example:

    <pre class="terminal">bosh -e my-env update-runtime-config --name=ipsec-addon /tmp/ipsec-addon.yml</pre> 

5. Navigate to the Installation Dashboard in Ops Manager.

6. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**. 
   For more information about this Ops Manager page, 
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

7. Click **Apply Changes**.
