---
title: Upgrading the IPsec Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the IPsec add-on.

##<a id="upgrading"></a>Upgrading the IPsec Add-On

1. Retrieve the latest runtime config by running one of the following commands:
  * **For Ops Manager v1.10 or earlier:** 
    `bosh runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG`
  * **For Ops Manager v1.11 or later:**
    `bosh2 -e BOSH-ENVIRONMENT runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG`

2. Change the release version.
  <pre>
releases:
\- {name: ipsec, version: NEW\_VERSION}
  </pre>


3. Update the runtime config by running one of the following commands:
  * **For Ops Manager v1.10 or earlier:** 
    `bosh update runtime-config PATH-TO-SAVE-THE-RUNTIME-CONFIG`
  * **For Ops Manager v1.11 or later:**
    `bosh2 -e BOSH-ENVIRONMENT update-runtime-config PATH-TO-SAVE-THE-RUNTIME-CONFIG`
  
4. Navigate to your **Installation Dashboard** in Ops Manager.
5. Click **Apply Changes**.
