---
title: Upgrading the IPsec Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<<<<<<< HEAD
This topic describes how to upgrade the IPsec add-on.
=======
This topic describes how to upgrade the IPsec Add-on for PCF.

##<a id="assume"></a>Assumption about Ops Manager Versions

This topic assumes the following about your Ops Manager, BOSH CLI, and runtime configuration files.

<table>
  <tr>
    <th>Ops Manager Version</th>
    <th>BOSH CLI Version</th>
    <th>Runtime Config</th>
    <th>More information</th>
  </tr>
  <tr>
    <td>1.10 and earlier</td>
    <td>CLI v1</td>
    <td>single, default, runtime config file</td>
    <td> <li><a href="https://bosh.io/docs/sysadmin-commands.html">BOSH CLI v1</a></li>
</ul></td>
  </tr>
  <tr>
    <td>1.11 and later</td>
    <td>CLI v2+</td>
    <td>runtime config in multiple, named files, so that <code>ipsec</code>can be managed separately</td>
    <td><ul>
        <li><a href="https://bosh.io/docs/cli-v2.html">BOSH&nbsp;CLI&nbsp;v2</a></li>
        <li><a href="https://bosh.io/docs/configs.html">Configs&nbsp;-&nbsp;bosh</a></li>
        </ul></td>
  </tr>
</table>

##<a id="upgrade"></a>Upgrade IPsec Add-on</a>

To upgrade the IPsec add-on to a later version, do the following:
>>>>>>> 1bec25b... start on[#156358761]

1. Retrieve the latest runtime config by running one of the following commands:
  * **For Ops Manager v1.10 or earlier:**
    `bosh runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG`
  * **For Ops Manager v1.11 or later:**
    `bosh2 -e BOSH_ENVIRONMENT runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG`

2. Upload the latest IPsec Release:
  * **For Ops Manager v1.10 or earlier:**
    `bosh upload release PATH-TO-NEW-IPSEC-RELEASE`
  * **For Ops Manager v1.11 or later:**
    `bosh2 -e BOSH_ENVIRONMENT upload-release PATH-TO-NEW-IPSEC-RELEASE`

3. Change the release version.
  <pre>
releases:
\- {name: ipsec, version: NEW\_VERSION}
  </pre>

4. **For Ops Manager v1.10 or earlier**, update the runtime config by running the following command:
    `bosh update runtime-config PATH-TO-SAVE-THE-RUNTIME-CONFIG`

5. **For Ops Manager v1.11 or later**, update the runtime config by doing the following:
    1. Run: `bosh2 -e BOSH-ENVIRONMENT update-runtime-config --name=ipsec PATH-TO-SAVE-THE-RUNTIME-CONFIG`

    2. Run: `bosh2 -e BOSH-ENVIRONMENT runtime-config > /tmp/runtime-config`

    3. Edit `/tmp/runtime-config` to remove IPsec references from the file.

         Under releases, remove:
       <pre>
       \- name: ipsec
    &nbsp; version: 1.X.X
       </pre>
         Under addons, find and remove the entire block that has the ipsec job:
       <pre>
       \- name: ipsec-addon
          jobs:
          \- name: ipsec
            release: ipsec
          include:
            stemcell:
            \- os: ubuntu-trusty
          properties:
            ipsec:
              optional: false
              ipsec_subnets:
              \- 10.0.1.1/20
              no_ipsec_subnets:
              \- 10.0.1.10/32  # bosh director
              \- 10.0.1.4/32 # ops manager
              instance_certificate: |
                \-----BEGIN CERTIFICATE-----
                EXAMPLExINSTANCExCERTIFICATExEXAMPLExINSTANCExCERTIFICATExxxxxxx
                ...
                \-----END CERTIFICATE-----
              instance_private_key: |
                \-----BEGIN EXAMPLE RSA PRIVATE KEY-----
                EXAMPLExRSAxPRIVATExKEYxDATAxEXAMPLExRSAxPRIVATExKEYxDATA
                ...
                \-----END EXAMPLE RSA PRIVATE KEY-----
              ca_certificates:
                \- |
                  \-----BEGIN CERTIFICATE-----
                  EXAMPLExCAxCERTIFICATExEXAMPLExCAxCERTIFICATExEXAMPLExCAxCERTIFI
                  ...
                  \-----END CERTIFICATE-----
                \- |
                  \-----BEGIN CERTIFICATE-----
                  CAxCERTIFICATExEXAMPLExCAxCERTIFICATExEXAMPLExCAxCERTIFICATExEXA
                  ...
                  \-----END CERTIFICATE-----
              prestart_timeout: 30
              esp_proposals: aes128gcm16!
              ike_proposals: aes128-sha256-modp2048!
              log_level: 1
              ike_version: ike
              optional_warn_interval: 1
              force_udp_encapsulation: false
       </pre>

    4. Run: `bosh2 -e BOSH-ENVIRONMENT update-runtime-config /tmp/runtime-config`

5. Navigate to your **Installation Dashboard** in Ops Manager.
6. Click **Apply Changes**.
