---
title: Upgrading the IPsec Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade the IPsec Add-on for PCF.

##<a id="assume"></a>Assumption about Ops Manager Versions

This topic assumes the following about your Ops Manager, BOSH CLI, and runtime config.

<table>
  <tr>
    <th>Ops Manager Version</th>
    <th>BOSH CLI Version</th>
    <th>Runtime Config</th>
    <th>More information</th>
  </tr>
  <tr>
    <td>1.12 and later</td>
    <td>CLI v2+</td>
    <td>runtime config in multiple, named files, so that <code>ipsec</code>can be managed separately</td>
    <td><ul>
        <li><a href="https://bosh.io/docs/cli-v2.html">BOSH&nbsp;CLI&nbsp;v2</a></li>
        <li><a href="https://bosh.io/docs/configs.html">Configs&nbsp;-&nbsp;bosh</a></li>
        </ul></td>
  </tr>
</table>


<p class="note breaking"><strong>Breaking Change: </strong> If you are using PCF v1.12 or later,
   you must use named runtime configs.
   If you have not already split your runtime config into multiple named files,
   do so before upgrading the IPsec Add-on for PCF.
   For general information about named runtime config files, see <a href="https://bosh.io/docs/configs.html">Configs</a>.</p>

##<a id="upgrade"></a>Upgrade IPsec Add-on</a>

To upgrade the IPsec add-on to a later version, do the following:

1. Download the IPsec add-on software binary
   from the [Pivotal Network](https://network.pivotal.io/products/p-ipsec-addon) to your local machine.

2. To copy the software binary to your Ops Manager VM, run the following command:

    ```
    scp -i PATH-TO-PRIVATE-KEY ipsec-VERSION.tar.gz ubuntu@YOUR-OPS-MANAGER-VM-IP:
    ```

    For example:

    <pre class="terminal">$ cp -i ~/.ssh/my-key.pem ~/Downloads/ipsec-1.8.14.tgz ubuntu<span>@</span>192.168.0.2: </pre> 

3. SSH into the Ops Manager VM.
   For how to do this, see [SSH into Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

4. Retrieve the latest runtime config by running the following command:

    ```
    bosh -e BOSH-ENVIRONMENT runtime-config  --name ipsec > PATH-TO-SAVE-THE-RUNTIME-CONFIG
    ```

    For example:

    <pre class="terminal">bosh -e my-env runtime-config  --name ipsec > /tmp/ipsec.yml</pre>

5. Upload the latest IPsec release:
  
    ```
    bosh -e BOSH-ENVIRONMENT upload-release PATH-TO-NEW-IPSEC-RELEASE
    ```

    For example:

    <pre class="terminal">bosh -e my-env upload-release ~/ipsec-1.8.14.tgz</pre>

6. Edit the ipsec runtime config to set the new release version.

     For example, edit the version in `/tmp/ipsec.yml` as follows:
     <pre>
     releases:
     \- {name: ipsec, version: <strong>1.8.14</strong>} </pre>

7. Update the runtime config: 
    ```
    bosh -e BOSH-ENVIRONMENT update-runtime-config --name=ipsec PATH-TO-SAVE-THE-RUNTIME-CONFIG
    ```

    For example:

    <pre class="terminal">bosh -e my-env update-runtime-config --name=ipsec /tmp/ipsec.yml </pre>

8. Navigate to your **Installation Dashboard** in Ops Manager.

9. If you are using Ops Manager v2.3 or later, click **Review Pending Changes**. 
   For more information about this Ops Manager page, 
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/customizing/review-pending-changes.html).

10. Click **Apply Changes**.
